<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
   </head>

   <body>

<div id="header">
    <div id="logo"><a href="/"><h1>| Guitar Shop |</h1></a></div>
    <div id="userInSession">
        {{#if userInSession}}
<span id="loggedIn">Logged in as</span>
 <span>{{userInSession.email}}</span>
        {{/if}}
    </div>
    

    <div id="topNav">
{{#if adminUser}}
        <ul>
            <li><i class="bi bi-person-circle text-icon"></i><a href="/profile"> My Profile</a></li>
            <li><i class="bi bi-box text-icon"></i><a href="/admin"> Admin</a></li>
            <li><i class="bi bi-box-arrow-left text-icon"></i><a href="/logout"> Logout</a></li>
        </ul>
{{else if userInSession}}
     <ul>
            <li><i class="bi bi-person-circle text-icon"></i><a href="/profile"> My Profile</a></li>
            <li><i class="bi bi-box-arrow-left text-icon"></i><a href="/logout"> Logout</a></li>
        </ul>
{{else}}
<ul>
            <li><i class="bi bi-person-add text-icon"></i><a href="/signup"> Sign Up</a></li>
            <li><i class="bi bi-person text-icon"></i><a href="/login"> Login</a></li>
         
        </ul>
{{/if}}


    </div>
</div>

  <div class="navSearch">
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
            <li class="nav-item"><a class="nav-link" href="/all-products">All Products</a></li>
            <li class="nav-item"><a class="nav-link" href="/acoustic%20guitar">Acoustic Guitars</a></li>
            <li class="nav-item"><a class="nav-link" href="/electric%20guitar">Electric Guitars</a></li>
            <li class="nav-item"><a class="nav-link" href="/bass%20guitar">Bass Guitars</a></li>
            <li class="nav-item"><a class="nav-link" href="/pedal">Pedals</a></li>
            <li class="nav-item"><a class="nav-link" href="/amplifier">Amps</a></li>

      </ul>

      <form action="/search" method="POST" class="d-flex" role="search" id="searchBar" >
        <input name="searchString" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


      {{{body}}}

<footer>
    <div id="copyright">
        <h2>About Us</h2>
       © GuitarShop Copyright 2022-2023
        <br />Omar Ali
        <br />Craig Butler
    </div>
    <div id="bottomNav">
        <h2>Products</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/all-products">All Products</a></li>
            <li><a href="/acoustic%20guitar">Acoustic Guitars</a></li>
            <li><a href="/electric%20guitar">Electric Guitars</a></li>
            <li><a href="/bass%20guitar">Bass Guitars</a></li>
            <li><a href="/pedal">Pedals</a></li>
            <li><a href="/amplifier">Amps</a></li>
        </ul>
    </div>
    <div id="contact">
        <h2>Contact Us</h2>
        Email@email.com
        <br/>3 Abbey Rd, London NW8 9AY
        
    </div>
</footer>      

      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


   </body>

</html>